/*--------------base---------------*/
.body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	background-color: $white;
	color: $text;
	font-family: $font-family;
	font-size: 16px;
	font-weight: 400;
	scroll-behavior: smooth;
}

.lock {
	overflow: hidden;
}

.sr-only {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

/*-------------/base---------------*/
