//  Thin | Hair	            100
//  Extra Light	            200
//  Light	                	300
//  Regular	                400
//  Medium	                500
//  Semi Bold	            	600
//  Bold	                	700
//  Extra Bold	            800
//  Black | Heavy | Ultra		900
/*===================================*/

$font-family: "Open Sans", sans-serif;

/*===================================*/

@font-face {
	font-family: "Open Sans";
	src: url("./../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("./../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("./../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("./../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("./../fonts/OpenSans-Light.woff2") format("woff2"),
		url("./../fonts/OpenSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
