
$font-family: 'Open Sans', sans-serif;   
$container: 1230px;

/*-------------------------*/

$white: #fff;
$orange: #FF4D00;
$orange-light: #FF6B18;
$blue: #0170B9;
$blue-light: #009EE2;
$text: #292930;
$footer-bg: #3A3A3A;