.about-section {
	&__container {
		padding: 120px 15px 180px;
		text-align: center;
	}
}
/*========================================*/
.core-values {
	text-align: center;
	&__list {
		margin-bottom: 36px;
	}
	&__form {
		position: relative;
		top: 91px;
	}
}
/*========================================*/
.services-section {
	text-align: center;
	padding-top: 212px;
	padding-bottom: 80px;
	background: $gray-200;

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
	}

	&__item {
		max-width: 285px;
		width: 100%;
		height: 285px;
		background-image: url("./../../img/services/noimage.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--1:hover {
			background-image: url("./../../img/services/construction.jpg");
		}
		&--2:hover {
			background-image: url("./../../img/services/project.jpg");
		}
		&--3:hover {
			background-image: url("./../../img/services/interior.jpg");
		}
		&--4:hover {
			background-image: url("./../../img/services/repairs.jpg");
		}

		&:hover {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			transition: all 0.3s;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $gray-900;
				opacity: 0.6;
			}

			& .services-section__subtitle {
				color: $white;
				z-index: 2;
			}

			& svg {
				fill: white;
				z-index: 2;
			}
			&__link-item {
				z-index: 2;
			}
		}
	}
	&__link {
		width: 100%;
		height: 100%;
	}
	&__link-item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 31.58%;
	}
	& svg {
		margin-bottom: 24px;
	}
}
/*========================================*/
.homepage-projects {
	padding: 120px 0px;

	&__title {
		max-width: 700px;
		margin: 0;
	}
}
/*========================================*/
.facts {
	padding: 180px 0 85px;

	&__title {
		margin-bottom: 60px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 736px;
		text-align: center;
		margin: 0 auto;
	}
	&__item {
		width: 148px;
	}
	&__value {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 148;
		height: 148px;
		border: 6px solid;
		border-radius: 100%;
		font-weight: 700;
		color: $gray-800;
		margin-bottom: 20px;

		&::before {
			content: "";
			position: absolute;
			top: -6px;
			left: -6px;
			width: 148px;
			height: 148px;
		}

		&--clients {
			border-color: #fde0bf;
			&::before {
				background: url("../img/svg/facts/ellipse-1.svg");
			}
		}
		&--years {
			border-color: #fcc1d3;
			&::before {
				background: url("../img/svg/facts/ellipse-2.svg");
			}
		}
		&--hours {
			border-color: #cddbfe;
			&::before {
				background: url("../img/svg/facts/ellipse-3.svg");
			}
		}
		&--projects {
			border-color: #cdfed1;
			&::before {
				background: url("../img/svg/facts/ellipse-4.svg");
			}
		}
	}
	&__descr {
		color: $gray-900;
	}
}

/*========================================*/
.recent-news {
	padding: 100px 0;
	color: $gray-800;

	&__list {
		display: grid;
		grid-template-columns: 705px 495px;
		grid-template-rows: 255px;
		grid-template-areas: "a b" "a c";
		gap: 30px;
	}
	&__item {
		cursor: pointer;

		&:hover {
			& .recent-news__subtitle {
				color: $primary;
				transition: color 0.3s ease-in-out;
			}
		}

		&--1 {
			grid-area: a;
		}
		&--2 {
			grid-area: b;
		}
		&--3 {
			grid-area: c;
		}
	}
	&__picture {
		&--small {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			height: 156px;
		}
	}
	&__img {
		width: 100%;
	}
	&__body {
		padding: 0 24px 24px;
	}
	&__subtitle {
		color: $gray-900;
		margin: 24px 0 12px;

		&--small {
			margin: 16px 0 8px;
		}
	}
	&__meta {
		display: flex;
		margin-bottom: 16px;

		&--small {
			margin: 0;
		}
	}
	&__tag {
		padding-right: 12px;
	}
	&__date {
		padding: 0 12px;

		&::before {
			display: inline-block;
			position: relative;
			top: 1px;
			right: 13px;
			content: "";
			width: 1px;
			height: 12px;
			background: $gray-700;
		}

		&::after {
			display: inline-block;
			position: relative;
			top: 1px;
			left: 13px;
			content: "";
			width: 1px;
			height: 12px;
			background: $gray-700;
		}
	}
	&__comments {
		padding-left: 12px;
	}
	&__anons {
		color: $gray-800;
	}
}
