.about-section {
	&__container {
		padding: 120px 15px 180px;
		text-align: center;
	}
}
/*========================================*/
.core-values {
	text-align: center;
	&__list {
		margin-bottom: 36px;
	}
	&__form {
		position: relative;
		top: 91px;
	}
}
/*========================================*/
.services-section {
	text-align: center;
	padding-top: 212px;
	padding-bottom: 80px;
	background: $gray-200;

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
	}

	&__item {
		max-width: 285px;
		width: 100%;
		height: 285px;
		background-image: url("./../../img/services/noimage.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--1:hover {
			background-image: url("./../../img/services/construction.jpg");
		}
		&--2:hover {
			background-image: url("./../../img/services/project.jpg");
		}
		&--3:hover {
			background-image: url("./../../img/services/interior.jpg");
		}
		&--4:hover {
			background-image: url("./../../img/services/repairs.jpg");
		}

		&:hover {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			transition: all 0.3s;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $gray-900;
				opacity: 0.6;
			}

			& .services-section__subtitle {
				color: $white;
				z-index: 2;
			}

			& svg {
				fill: white;
				z-index: 2;
			}
			&__link-item {
				z-index: 2;
			}
		}
	}
	&__link {
		width: 100%;
		height: 100%;
	}
	&__link-item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 31.58%;
	}
	& svg {
		margin-bottom: 24px;
	}
}
/*========================================*/
.homepage-projects {
	padding: 120px 0px;

	&__title {
		max-width: 700px;
		margin: 0;
	}
}
/*========================================*/
.facts {
	padding: 200px 0;
}
