.benefits {
	&--services-item {
		background-color: $gray-900;
		padding: 80px 0 74px;
	}
	&--homepage {
	}

	&__list {
		display: grid;
		grid-template-columns: 285px 0.717fr 285px;
		justify-content: space-between;
	}

	&__item {
		padding-top: 65px;
		background-repeat: no-repeat;
		background-position: center top;
		&--center-col {
			border-right: 1px solid;
			border-left: 1px solid;
			border-image: linear-gradient(
					180deg,
					rgb(226, 226, 226),
					rgb(184, 184, 184),
					rgb(226, 226, 226)
				)
				1;
		}

		&--quality {
			background-image: url("../img/svg/icon-box/quality.svg");
		}
		&--safety {
			background-image: url("../img/svg/icon-box/safety.svg");
		}
		&--comfort {
			background-image: url("../img/svg/icon-box/comfort.svg");
		}
		&--cost {
			background-image: url("../img/svg/icon-box/cost.svg");
		}
		&--workers {
			background-image: url("../img/svg/icon-box/workers.svg");
		}
		&--control {
			background-image: url("../img/svg/icon-box/control.svg");
		}
	}
	&__body {
		width: 285px;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		margin-bottom: 8px;

		&--light {
			color: white;
			text-align: center;
		}
	}
	&__desc {
		&--light {
			color: #9e9fa4;
		}
	}
	&__form {
		position: relative;
		top: 91px;
	}
}
