.hero {
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 120px;

	&--main {
		background-image: url("../../img/bg-image.jpg");
		max-height: 988px;
		padding: 13.2% 0 18.6%;
	}

	&__content {
		max-width: 610px;
		padding: 5px;
	}
	&__title {
		color: $white;
		& span {
			color: $primary;
		}
	}
	&__descr {
		color: $white;
	}
	&__buttons {
		& :not(:last-child) {
			margin-right: 24px;
		}
	}
}

.hero-second {
	height: 600px;
	background-position: center right;
	background-repeat: no-repeat;
	padding-top: 152px;
	margin-bottom: 120px;

	&--services {
		background-image: url("../img/bg-services.jpg");
	}

	&--design {
		background-image: url("../img/bg-services-item.jpg");
	}

	&__content {
		max-width: 600px;
		width: 100%;
	}

	&__descr {
		margin: 0;
	}
}

.breadcrumbs {
	display: flex;
	margin-bottom: 40px;
	column-gap: 22px;

	&__item {
		position: relative;

		&:not(:last-child) {
			&::after {
				content: "/";
				position: absolute;
				top: 0;
				right: -14px;
				color: $gray-600;
			}
		}
	}

	&__link {
		color: $gray-800;

		&:not([href]) {
			color: $gray-600;
		}
	}
}
