.hero {
	background-repeat: no-repeat;
	background-size: cover;

	&--main {
		background-image: url("../../img/bg-image.jpg");
		max-height: 988px;
		padding: 13.2% 0 18.6%;
	}

	&__content {
		max-width: 610px;
		padding: 5px;
	}
	&__title {
		color: $white;
		margin-bottom: 24px;

		& span {
			color: $primary;
		}
	}
	&__descr {
		color: $white;
		margin-bottom: 60px;
	}
	&__buttons {
		& :not(:last-child) {
			margin-right: 24px;
		}
	}
}
