.projects-section {
	&__title {
		max-width: 700px;
		margin: 0;
	}

	&--homepage {
		padding: 120px 0;
	}
	&--services-item {
		padding: 154px 0 100px;
	}
}

.project-card {
	width: 390px;
	height: 440px;
	text-align: center;
	background-color: #fff;
	overflow: hidden;

	&:hover {
		& .project-card__content {
			transform: translate(0, -66px);
			transition: transform 0.5s;
		}
	}

	&__content {
		position: relative;
		height: 163px;
		background-color: #fff;
		padding: 16px 0 24px;
	}

	&__title {
		margin-bottom: 4px;
	}

	&__desc {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: $gray-700;
		margin-bottom: 24px;
	}
}

.project-slider {
	position: relative;
	padding-top: 60px;

	&__nav {
		position: absolute;
		top: -35px;
		right: -12px;
	}

	&__body {
		margin: -5px -25px -80px -15px;
		padding: 5px 25px 80px 15px;
	}

	&__item {
		cursor: pointer;
	}
}

.projects-our-work {
}

.project-tabs {
	position: relative;
	top: -55px;
	margin-bottom: 50px;

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
	}
	&__item {
		align-self: center;
		justify-self: center;
		width: 100%;
		max-width: 230px;
		min-width: 165px;
	}
	&__btn {
		width: 100%;
		height: 100%;
		border-radius: 4px;
		background-color: $white;
		padding: 32px 0;

		& svg {
			pointer-events: none;
		}

		&:hover,
		&.active {
			transition: all 0.3s ease-in-out;
			background-color: $primary;
			color: $white;

			& svg {
				transition: all 0.3s ease-in-out;
				fill: $white;
			}
		}
		&.active {
			pointer-events: none;
		}
	}

	&__descr {
		font-weight: 700;
		font-size: clamp(0.875rem, 1vw + 0.25rem, 1rem);
		margin-top: 12px;
		pointer-events: none;
	}
}

.project-grid {
	text-align: center;
	margin-bottom: 100px;

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		padding-bottom: 60px;
	}
	&__item {
		animation-name: visibleItem;
		animation-duration: 1s;

		&.hidden {
			display: none;
		}
	}
	@keyframes visibleItem {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	&__more-btn {
		font-weight: 700;
		color: $gray-600;

		&:hover {
			color: $gray-800;
			transition: color 0.25s ease-in-out;
		}

		&.hidden {
			display: none;
		}
	}
	&__loading-img {
		margin-right: 16px;

		&.active {
			animation-name: loading;
			animation-duration: 1s;
		}
	}

	@keyframes loading {
		0% {
			transform: rotate(0);
		}
		10% {
			transform: rotate(-36deg);
		}
		20% {
			transform: rotate(-72deg);
		}
		30% {
			transform: rotate(-108deg);
		}
		40% {
			transform: rotate(-144deg);
		}
		50% {
			transform: rotate(-180deg);
		}
		60% {
			transform: rotate(-216deg);
		}
		70% {
			transform: rotate(-252deg);
		}
		80% {
			transform: rotate(-288deg);
		}
		90% {
			transform: rotate(-324deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}
}
