/*================ base ================*/
.btn {
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.04em;
	text-wrap: nowrap;
	border-radius: 4px;
}

/*================ color ================*/
.btn--primary {
	color: $white;
	border: 1px solid $primary;
	background: $primary;

	&:hover,
	&:active {
		color: $primary;
		background: transparent;
		transition: all 0.3s;
	}
}

.btn--transparent {
	color: $primary;
	border: 1px solid $primary;
	background: $white;

	&:hover,
	&:active {
		color: $white;
		background: $primary;
		transition: all 0.3s;
	}
}
.btn--white {
	color: $white;
	border: 1px solid $white;
	background: transparent;

	&:hover,
	&:active {
		color: $primary;
		border: 1px solid $primary;
		transition: all 0.3s;
	}
}

/*================ size ================*/
.btn--large {
	//max-width: 212px;
	height: 52px;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.03em;
	padding: 0px 40px;
}

.btn--reg {
	max-width: 195px;
	height: 44px;
	font-size: 14px;
	line-height: 314%;
	padding: 0px 32px;
}

.btn--small {
	max-width: 150px;
	height: 36px;
	font-size: 12px;
	line-height: 300%;
	padding: 0px 24px;
}

/*================ slider ================*/
.btn--slider {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
	& svg {
		fill: $gray-900;
	}

	&:hover {
		background-color: $primary;
		& svg {
			fill: $white;
		}
	}
}
