.project-card {
	width: 390px;
	height: 440px;
	text-align: center;
	background-color: #fff;
	overflow: hidden;

	&:hover {
		& .project-card__content {
			transform: translate(0, -66px);
			transition: transform 0.5s;
		}
	}

	&__content {
		position: relative;
		height: 163px;
		background-color: #fff;
		padding: 16px 0 24px;
	}

	&__title {
		margin-bottom: 4px;
	}

	&__desc {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: $gray-700;
		margin-bottom: 24px;
	}
}

.homepage-slider {
	position: relative;
	padding-top: 60px;

	&__nav {
		position: absolute;
		top: -35px;
		right: -12px;
	}

	&__body {
		margin: -5px -25px -80px -15px;
		padding: 5px 25px 80px 15px;
	}

	&__item {
		cursor: pointer;
	}
}
