.form {
	line-height: 150%;
	padding: 48px 20px;

	&__title {
		font-weight: 700;
		font-size: 28px;
		text-align: center;
		color: $gray-900;
	}

	&__body {
		font-size: 14px;
	}

	&__field {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__lable {
		font-weight: 400;
		text-align: left;
		color: $gray-800;
		margin-bottom: 8px;
	}

	&__input,
	&__textarea {
		border: 1px solid $gray-400;
		border-radius: 4px;
		background: $gray-200;
		padding: 11px 16px;
		resize: none;

		&::placeholder {
			font-weight: 400;
			color: $gray-600;
		}
	}
}

.linear-form {
	&__title {
		margin-bottom: 32px;
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		& :not(:last-child) {
			margin-right: 24px;
		}
	}

	&__field {
		&--small {
			max-width: 260px;
		}
		&--big {
			max-width: 415px;
		}
	}
}

.discuss-form {
	max-width: 495px;

	&__title {
		margin-bottom: 24px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__field {
		max-width: 415px;
		margin-bottom: 20px;

		&--checkbox {
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: 25px;

			accent-color: $primary;

			& input {
				position: relative;
				top: 5px;
			}
		}
		& span {
			color: $primary;
		}
	}

	&__checkbox-text {
		color: $gray-800;
		margin-left: 12px;
	}
}
