.swpr-projects {
	position: relative;
	padding-top: 60px;

	&__nav {
		position: absolute;
		top: -35px;
		right: -12px;
	}
	&__content {
		margin: -5px -25px -80px -15px;
		padding: 5px 25px 80px 15px;
	}
	&__slide {
		cursor: pointer;
	}
}
