/*--------------titles and descriptions--------------*/
.title-h1,
.title-h2,
.title-h3,
.descr-28 {
	font-weight: 700;
	color: $gray-900;
}
.title-h2--center,
.title-h3--center {
	text-align: center;
}
.title-h1 {
	line-height: 130%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	font-size: 72px;
	margin-bottom: 24px;

	&--small {
		font-size: 64px;
		line-height: 120%;
		letter-spacing: 0.02em;
		margin-bottom: 60px;
	}
}
.title-h2 {
	font-size: 46px;
	line-height: 130%;
	margin-bottom: 24px;

	&--small {
		font-size: 32px;
		line-height: 150%;
	}
}
.title-h3 {
	font-size: 20px;
	line-height: 150%;
}

.descr-28,
.descr-20,
.descr-18 {
	line-height: 150%;
}
.descr-28 {
	font-size: 28px;
}
.descr-20 {
	font-size: 20px;
}
.descr-18 {
	font-size: 18px;
	text-align: center;
}
.descr-16 {
	font-size: 16px;
	line-height: 160%;
	text-align: center;
}
.descr-14 {
	font-size: 14px;
	line-height: 150%;
	color: $gray-700;
}
.descr-20,
.descr-18 {
	margin-bottom: 60px;
}
/*-------------/titles and descriptions--------------*/
